* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caset-div {
  height: 260px;
}
.about-caset {
  position: absolute;
  width: 45%;
  height: 180px;
  left: 20%;
  border: 3px solid #797f99;
  border-left: none;
  border-radius: 40px;
   background-color: #0a1f30;
}
.figurine {
  border: 20px solid linear-gradient(to right, #7e620d, #fcc419);
  width: 180px;
  height: 180px;
  margin-left: 13%;
  position: relative;
  transform: rotate(45deg);
  border-radius: 30px;
   background: linear-gradient(to right, #7e620d, #fcc419);
}
.about-caset-title {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0.55rem;
  color: white;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.about-caset-paragraph {
  margin-left: 170px;
  color: white;
  margin-right: 20px;
  letter-spacing: 0.3px;
  font-size: 1.6rem;
  
}
.about-caset-2 {
  position: absolute;
  width: 45%;
  height: 180px;
  left: 35%;
  border: 3px solid #797f99;
  border-right: none;
  border-radius: 40px;
  background-color: #0a1f30;
}
.figurine-2 {
  border: 20px solid linear-gradient(to bottom left, #7e620d, #fcc419);
  width: 180px;
  height: 180px;
  float: right;
  margin-right: 13%;
  position: relative;
  transform: rotate(45deg);
  border-radius: 30px;
 background: linear-gradient(to bottom left , #7e620d, #fcc419);
}
.about-caset-3 {
  position: absolute;
  width: 45%;
  height: 180px;
  left: 20%;
  border: 3px solid #797f99;
  border-left: none;
  border-radius: 40px;
 background-color: #0a1f30;
}
.figurine-3 {
  border: 20px solid linear-gradient(to top, #7e620d, #fcc419);
  width: 180px;
  height: 180px;
  margin-left: 13%;
  position: relative;
  transform: rotate(45deg);
  border-radius: 30px;
 background: linear-gradient(to top, #7e620d, #fcc419);
}

.caset2{
  line-height: 2;
  
 
}
.myskills-caset{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.about-caset:hover {
  left: 22%;
  transition: left 0.3s linear;
  font-size: 17px;
}

.about-caset-2:hover {
  left: 33%;
  transition: left 0.3s linear;
  font-size: 17px;
}
.about-caset-3:hover {
  left: 22%;
  transition: left 0.3s linear;
  font-size: 17px;
}
