* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;

}
.container {
  max-width: 170rem;
  margin: 0 auto;
}

  
  

@media screen and (max-width: 1400px ){
  .screen-changes{
    opacity: 0;
    background-color: white;
  }
  
}